# Environment variables and secrets
.env
.env.local
.env.*.local
*.env
application-local.properties
aws-credentials.env

# Build outputs & IDE
target/
build/
dist/
node_modules/
.idea/
*.iml
.vscode/
.DS_Store
.expo/
*.log
